@import "../../../assets/styles/colors";

.add-product-form{
  display: flex;
  flex-direction: column;

  .actions{
    display: flex;
    justify-content: flex-end;

    button.save-btn{
      margin-right: 1rem;
    }
  }
}

