<div class="dialog-container">
  <h3 mat-dialog-title>Add Product</h3>

  <div class="content" >
    <form [formGroup]="addProductForm" class="add-product-form">
      <mat-form-field>
        <input type="text" matInput formControlName="name" placeholder="name">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="description" placeholder="description">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="price" placeholder="price">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="deliveryComp" placeholder="delivery company">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="type" placeholder="type">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="thumbnailUrl" placeholder="Thumbnail url">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="creationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button [mat-dialog-close]="addProductForm.value" class="save-btn">Save</button>
        <button mat-raised-button [mat-dialog-close]="false" class="cancel-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
